[user]
	name = Gustavo Pacheco
	email = ryctabo@gmail.com
	signingkey = 9D07040B049B7418
[alias]
	lod = log --oneline --decorate
	undo = checkout --
	unstage = reset HEAD --
	last = log -1 HEAD
[core]
	editor = vim
