[user]
	name = Gustavo Pacheco
	email = ryctabo@gmail.com
	signingkey = 7A4D488492A98C0A
[alias]
	lod = log --oneline --decorate
	undo = restore
	unstage = restore --staged
	last = log -1 HEAD
	co = checkout
	br = branch
	ci = commit
	st = status
	graph = log --oneline --decorate --graph
[core]
	editor = vim
[pull]
	rebase = false
[init]
	defaultBranch = master
[commit]
	gpgsign = true
